<p>
    Пакет {{ tarif }} окончен, но вы можете оформить другие пакеты для поднятия вашей компании - <a href="http://{{ main_domain }}{{ firm.getAlias() }}">{{ firm.Name }}</a> в личном кабинете.<br>
    Спасибо за работу с нами.
</p>
<br>
<p>
    Для оформления поднятия воспользуйтесь <a href="http://{{ main_domain }}/профиль">личным кабинетом.</a><br>
    Спасибо за работу с нами.<br>
</p>
<p>С уважением, администрация проекта <b>“ТвояФирма.рф”</b></p>
