<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ head.title }}</title>
    <meta name="description" content="{{ head.description }}">
    <meta name="keywords" content="{{ head.keywords }}"/>
    <link rel="canonical" href="{{ head.canonical }}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="yandex-verification" content="6884320418269a9b"/>
    <meta name="google-site-verification" content="rJ_d6d-r1scCC6d0vfiS2_klTzit78UhzYOeLiImEps"/>
    <meta name="wmail-verification" content="2bf45f6c86840790"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/asset/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/asset/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/asset/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/asset/icons/manifest.json">
    <link rel="mask-icon" href="/asset/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/asset/icons/favicon.ico">
    <meta name="msapplication-config" content="/asset/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="robots" content="#ffffff">
    <link rel="shortcut icon" href="/asset/images/favicon.ico" type="image/vnd.microsoft.icon"/>

    <meta property="og:title" content="{{ head.title }}"/>
    <meta property="og:description" content="{{ head.description }}"/>
    <meta property="og:locale" content="ru_RU"/>
    <meta property="og:image" content="{{ head.og.image|raw }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="https://твояфирма.рф{{ url }}"/>

    <link rel="stylesheet" href="/asset/app/search.css">
</head>