{# adv blocks goes here #}

{% macro yandex1() %}
    <!-- R-158945-1 Яндекс.RTB-блок  -->
    <div id="yandex_ad_R-158945-1" class="yandex_ad"></div>
    <script type="text/javascript">
        (function (w, d, n, s, t) {
            w[n] = w[n] || [];
            w[n].push(function () {
                Ya.Context.AdvManager.render({
                    blockId: "R-158945-1",
                    renderTo: "yandex_ad_R-158945-1",
                    async: true
                });
            });
            t = d.getElementsByTagName("script")[0];
            s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//an.yandex.ru/system/context.js";
            s.async = true;
            t.parentNode.insertBefore(s, t);
        })(this, this.document, "yandexContextAsyncCallbacks");
    </script>
{% endmacro %}

{% macro yandex2() %}
    <!-- R-158945-2 Яндекс.RTB-блок  -->
    <div id="yandex_ad_R-158945-2" class="yandex_ad"></div>

    <script type="text/javascript">
        (function (w, d, n, s, t) {
            w[n] = w[n] || [];
            w[n].push(function () {
                Ya.Context.AdvManager.render({
                    blockId: "R-158945-2",
                    renderTo: "yandex_ad_R-158945-2",
                    async: true
                });
            });
            t = d.getElementsByTagName("script")[0];
            s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//an.yandex.ru/system/context.js";
            s.async = true;
            t.parentNode.insertBefore(s, t);
        })(this, this.document, "yandexContextAsyncCallbacks");
    </script>
{% endmacro %}

{% macro yandex3() %}
    <!-- R-158945-3 Яндекс.RTB-блок  -->
    <div id="yandex_ad_R-158945-3" class="yandex_ad"></div>
    <script type="text/javascript">
        (function (w, d, n, s, t) {
            w[n] = w[n] || [];
            w[n].push(function () {
                Ya.Context.AdvManager.render({
                    blockId: "R-158945-3",
                    renderTo: "yandex_ad_R-158945-3",
                    async: true
                });
            });
            t = d.getElementsByTagName("script")[0];
            s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//an.yandex.ru/system/context.js";
            s.async = true;
            t.parentNode.insertBefore(s, t);
        })(this, this.document, "yandexContextAsyncCallbacks");
    </script>
{% endmacro %}

{% macro yandex4() %}
    <!-- R-158945-4 џндекс.RTB-блок  -->
    <div id="yandex_ad_R-158945-4" class="yandex_ad"></div>
    <script type="text/javascript">
        (function (w, d, n, s, t) {
            
            if (window.innerWidth <= 800) {
                return;
            }
            
            w[n] = w[n] || [];
            w[n].push(function () {
                Ya.Context.AdvManager.render({
                    blockId: "R-158945-4",
                    renderTo: "yandex_ad_R-158945-4",
                    async: true
                });
            });
            t = d.getElementsByTagName("script")[0];
            s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//an.yandex.ru/system/context.js";
            s.async = true;
            t.parentNode.insertBefore(s, t);
        })(this, this.document, "yandexContextAsyncCallbacks");
    </script>
{% endmacro %}

{% macro yandex5() %}
    <!-- R-158945-5 џндекс.RTB-блок  -->
    <div id="yandex_ad_R-158945-5" class="yandex_ad"></div>
    <!-- R-158945-16 џндекс.RTB-блок  -->
    <div id="yandex_ad_R-158945-16" class="yandex_ad"></div>
    <!-- R-158945-17 џндекс.RTB-блок  -->
    <div id="yandex_ad_R-158945-17" class="yandex_ad"></div>
    <script type="text/javascript">
        (function (w, d, n, s, t) {
            w[n] = w[n] || [];
            if (window.innerWidth <= 750) {
                var yandex_block_id = "R-158945-17";
                var yandex_div_render_id = "yandex_ad_R-158945-17";
            } else if (window.innerWidth <= 1024) {
                var yandex_block_id = "R-158945-16";
                var yandex_div_render_id = "yandex_ad_R-158945-16";
            } else {
                var yandex_block_id = "R-158945-5";
                var yandex_div_render_id = "yandex_ad_R-158945-5";

            }
            w[n].push(function () {
                Ya.Context.AdvManager.render({
                    blockId: yandex_block_id,
                    renderTo: yandex_div_render_id,
                    async: true
                });
            });
            t = d.getElementsByTagName("script")[0];
            s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//an.yandex.ru/system/context.js";
            s.async = true;
            t.parentNode.insertBefore(s, t);
        })(this, this.document, "yandexContextAsyncCallbacks");
    </script>
{% endmacro %}

{% macro yandex6() %}
    <!-- R-158945-6 џндекс.RTB-блок  -->
    <div id="yandex_ad_R-158945-6" class="yandex_ad"></div>
    <!-- R-158945-20 џндекс.RTB-блок  -->
    <div id="yandex_ad_R-158945-20" class="yandex_ad"></div>
    <script type="text/javascript">
        (function (w, d, n, s, t) {
            w[n] = w[n] || [];
            if (window.innerWidth >= 1024) {
                var yandex_block_id = "R-158945-6";
                var yandex_div_render_id = "yandex_ad_R-158945-6";
            } else {
                var yandex_block_id = "R-158945-20";
                var yandex_div_render_id = "yandex_ad_R-158945-20";
            }
            w[n].push(function () {
                Ya.Context.AdvManager.render({
                    blockId: yandex_block_id,
                    renderTo: yandex_div_render_id,
                    async: true
                });
            });
            t = d.getElementsByTagName("script")[0];
            s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//an.yandex.ru/system/context.js";
            s.async = true;
            t.parentNode.insertBefore(s, t);
        })(this, this.document, "yandexContextAsyncCallbacks");
    </script>
{% endmacro %}

{% macro yandex7() %}
    <!-- R-158945-7 џндекс.RTB-блок  -->
    <div id="yandex_ad_R-158945-7" class="yandex_ad"></div>
    <!-- R-158945-21 џндекс.RTB-блок  -->
    <div id="yandex_ad_R-158945-21" class="yandex_ad"></div>
    <script type="text/javascript">
        (function (w, d, n, s, t) {
            w[n] = w[n] || [];
            if (window.innerWidth >= 1024) {
                var yandex_block_id = "R-158945-7";
                var yandex_div_render_id = "yandex_ad_R-158945-7";
            } else {
                var yandex_block_id = "R-158945-21";
                var yandex_div_render_id = "yandex_ad_R-158945-21";
            }
            w[n].push(function () {
                Ya.Context.AdvManager.render({
                    blockId: yandex_block_id,
                    renderTo: yandex_div_render_id,
                    async: true
                });
            });
            t = d.getElementsByTagName("script")[0];
            s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//an.yandex.ru/system/context.js";
            s.async = true;
            t.parentNode.insertBefore(s, t);
        })(this, this.document, "yandexContextAsyncCallbacks");
    </script>
{% endmacro %}

{% macro yandex8() %}
    <!-- R-158945-8 џндекс.RTB-блок  -->
    <div id="yandex_ad_R-158945-8" class="yandex_ad"></div>
    <!-- R-158945-22 џндекс.RTB-блок  -->
    <div id="yandex_ad_R-158945-22" class="yandex_ad"></div>
    <script type="text/javascript">
        (function (w, d, n, s, t) {
            w[n] = w[n] || [];
            if (window.innerWidth >= 1024) {
                var yandex_block_id = "R-158945-8";
                var yandex_div_render_id = "yandex_ad_R-158945-8";
            } else {
                var yandex_block_id = "R-158945-22";
                var yandex_div_render_id = "yandex_ad_R-158945-22";
            }
            w[n].push(function () {
                Ya.Context.AdvManager.render({
                    blockId: yandex_block_id,
                    renderTo: yandex_div_render_id,
                    async: true
                });
            });
            t = d.getElementsByTagName("script")[0];
            s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//an.yandex.ru/system/context.js";
            s.async = true;
            t.parentNode.insertBefore(s, t);
        })(this, this.document, "yandexContextAsyncCallbacks");
    </script>
{% endmacro %}

{% macro yandex9() %}
    <!-- R-158945-9 џндекс.RTB-блок  -->
    <div id="yandex_ad_R-158945-9" class="yandex_ad"></div>
    <!-- R-158945-23 џндекс.RTB-блок  -->
    <div id="yandex_ad_R-158945-23" class="yandex_ad"></div>
    <script type="text/javascript">
        if(window.innerWidth >= 1000) {
            (function (w, d, n, s, t) {
                w[n] = w[n] || [];
                w[n].push(function () {
                    Ya.Context.AdvManager.render({
                        blockId: "R-158945-9",
                        renderTo: "yandex_ad_R-158945-9",
                        async: true
                    });
                });
                t = d.getElementsByTagName("script")[0];
                s = d.createElement("script");
                s.type = "text/javascript";
                s.src = "//an.yandex.ru/system/context.js";
                s.async = true;
                t.parentNode.insertBefore(s, t);
            })(this, this.document, "yandexContextAsyncCallbacks");
        } else {
            (function (w, d, n, s, t) {
                w[n] = w[n] || [];
                w[n].push(function () {
                    Ya.Context.AdvManager.render({
                        blockId: "R-158945-23",
                        renderTo: "yandex_ad_R-158945-23",
                        async: true
                    });
                });
                t = d.getElementsByTagName("script")[0];
                s = d.createElement("script");
                s.type = "text/javascript";
                s.src = "//an.yandex.ru/system/context.js";
                s.async = true;
                t.parentNode.insertBefore(s, t);
            })(this, this.document, "yandexContextAsyncCallbacks");
        }

    </script>
{% endmacro %}

{% macro yandex() %}

{% endmacro %}

{% macro yandex10() %}
    <!-- R-158945-10 џндекс.RTB-блок  -->
    <div id="yandex_ad_R-158945-10" class="yandex_ad"></div>
    <!-- R-158945-24 џндекс.RTB-блок  -->
    <div id="yandex_ad_R-158945-24" class="yandex_ad"></div>
    <script type="text/javascript">
        (function (w, d, n, s, t) {
            w[n] = w[n] || [];
            if (window.innerWidth >= 530) {
                var yandex_block_id = "R-158945-10";
                var yandex_div_render_id = "yandex_ad_R-158945-10";
            } else {
                var yandex_block_id = "R-158945-24";
                var yandex_div_render_id = "yandex_ad_R-158945-24";
            }
            w[n].push(function () {
                Ya.Context.AdvManager.render({
                    blockId: yandex_block_id,
                    renderTo: yandex_div_render_id,
                    async: true
                });
            });
            t = d.getElementsByTagName("script")[0];
            s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//an.yandex.ru/system/context.js";
            s.async = true;
            t.parentNode.insertBefore(s, t);
        })(this, this.document, "yandexContextAsyncCallbacks");
    </script>
{% endmacro %}

{% macro yandex11() %}
    <!-- R-158945-11 џндекс.RTB-блок  -->
    <div id="yandex_ad_R-158945-11" class="yandex_ad"></div>
    <!-- R-158945-26 џндекс.RTB-блок  -->
    <div id="yandex_ad_R-158945-26" class="yandex_ad"></div>
    <script type="text/javascript">
        (function (w, d, n, s, t) {
            w[n] = w[n] || [];
            if (window.innerWidth >= 1024) {
                var yandex_block_id = "R-158945-11";
                var yandex_div_render_id = "yandex_ad_R-158945-11";
            } else {
                var yandex_block_id = "R-158945-26";
                var yandex_div_render_id = "yandex_ad_R-158945-26";
            }
            w[n].push(function () {
                Ya.Context.AdvManager.render({
                    blockId: yandex_block_id,
                    renderTo: yandex_div_render_id,
                    async: true
                });
            });
            t = d.getElementsByTagName("script")[0];
            s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//an.yandex.ru/system/context.js";
            s.async = true;
            t.parentNode.insertBefore(s, t);
        })(this, this.document, "yandexContextAsyncCallbacks");
    </script>
{% endmacro %}

{% macro yandex12() %}
    <!-- R-158945-12 џндекс.RTB-блок  -->
    <div id="yandex_ad_R-158945-12" class="yandex_ad"></div>
    <!-- R-158945-27 џндекс.RTB-блок  -->
    <div id="yandex_ad_R-158945-27" class="yandex_ad"></div>
    <script type="text/javascript">
        (function (w, d, n, s, t) {
            w[n] = w[n] || [];
            if (window.innerWidth >= 1024) {
                var yandex_block_id = "R-158945-12";
                var yandex_div_render_id = "yandex_ad_R-158945-12";
            } else {
                var yandex_block_id = "R-158945-27";
                var yandex_div_render_id = "yandex_ad_R-158945-27";
            }
            w[n].push(function () {
                Ya.Context.AdvManager.render({
                    blockId: yandex_block_id,
                    renderTo: yandex_div_render_id,
                    async: true
                });
            });
            t = d.getElementsByTagName("script")[0];
            s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//an.yandex.ru/system/context.js";
            s.async = true;
            t.parentNode.insertBefore(s, t);
        })(this, this.document, "yandexContextAsyncCallbacks");
    </script>
{% endmacro %}

{% macro yandex13() %}
    <!-- R-158945-13 џндекс.RTB-блок  -->
    <div id="yandex_ad_R-158945-13" class="yandex_ad"></div>
    <!-- R-158945-28 џндекс.RTB-блок  -->
    <div id="yandex_ad_R-158945-28" class="yandex_ad"></div>
    <script type="text/javascript">
        (function (w, d, n, s, t) {
            w[n] = w[n] || [];
            if (window.innerWidth >= 1024) {
                var yandex_block_id = "R-158945-13";
                var yandex_div_render_id = "yandex_ad_R-158945-13";
            } else {
                var yandex_block_id = "R-158945-28";
                var yandex_div_render_id = "yandex_ad_R-158945-28";
            }
            w[n].push(function () {
                Ya.Context.AdvManager.render({
                    blockId: yandex_block_id,
                    renderTo: yandex_div_render_id,
                    async: true
                });
            });
            t = d.getElementsByTagName("script")[0];
            s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//an.yandex.ru/system/context.js";
            s.async = true;
            t.parentNode.insertBefore(s, t);
        })(this, this.document, "yandexContextAsyncCallbacks");
    </script>
{% endmacro %}

{% macro yandex14() %}
    <!-- R-158945-14 џндекс.RTB-блок  -->
    <div id="yandex_ad_R-158945-14" class="yandex_ad"></div>
    <!-- R-158945-18 џндекс.RTB-блок  -->
    <div id="yandex_ad_R-158945-18" class="yandex_ad"></div>
    <!-- R-158945-19 џндекс.RTB-блок  -->
    <div id="yandex_ad_R-158945-19" class="yandex_ad"></div>
    <script type="text/javascript">
        (function (w, d, n, s, t) {
            w[n] = w[n] || [];
            if (window.innerWidth <= 750) {
                var yandex_block_id = "R-158945-19";
                var yandex_div_render_id = "yandex_ad_R-158945-19";
            } else if (window.innerWidth <= 1024) {
                var yandex_block_id = "R-158945-18";
                var yandex_div_render_id = "yandex_ad_R-158945-18";
            } else {
                var yandex_block_id = "R-158945-14";
                var yandex_div_render_id = "yandex_ad_R-158945-14";
            }
            w[n].push(function () {
                Ya.Context.AdvManager.render({
                    blockId: yandex_block_id,
                    renderTo: yandex_div_render_id,
                    async: true
                });
            });
            t = d.getElementsByTagName("script")[0];
            s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//an.yandex.ru/system/context.js";
            s.async = true;
            t.parentNode.insertBefore(s, t);
        })(this, this.document, "yandexContextAsyncCallbacks");
    </script>
{% endmacro %}

{% macro yandex15() %}
    <!-- R-158945-15 џндекс.RTB-блок  -->
    <div id="yandex_ad_R-158945-15" class="yandex_ad"></div>
    <!-- R-158945-25 џндекс.RTB-блок  -->
    <div id="yandex_ad_R-158945-25" class="yandex_ad"></div>
    <script type="text/javascript">
        (function (w, d, n, s, t) {
            w[n] = w[n] || [];
            if (window.innerWidth >= 1000) {
                var yandex_block_id = "R-158945-15";
                var yandex_div_render_id = "yandex_ad_R-158945-15";
            } else {
                var yandex_block_id = "R-158945-25";
                var yandex_div_render_id = "yandex_ad_R-158945-25";
            }
            w[n].push(function () {
                Ya.Context.AdvManager.render({
                    blockId: yandex_block_id,
                    renderTo: yandex_div_render_id,
                    async: true
                });
            });
            t = d.getElementsByTagName("script")[0];
            s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//an.yandex.ru/system/context.js";
            s.async = true;
            t.parentNode.insertBefore(s, t);
        })(this, this.document, "yandexContextAsyncCallbacks");
    </script>
{% endmacro %}


{% macro yandex16() %}
    <!-- Yandex.RTB R-A-158945-29 -->
    <div id="yandex_rtb_R-A-158945-29" class="yandex_ad"></div>
    <script type="text/javascript">
        if (window.innerWidth <= 800) {
            (function (w, n) {
                w[n] = w[n] || [];
                w[n].push(function () {
                    Ya.Context.AdvManager.render({
                        blockId: "R-A-158945-29",
                        renderTo: "yandex_rtb_R-A-158945-29",
                        async: false
                    });
                });
                document.write('<sc' + 'ript type="text/javascript" src="//an.yandex.ru/system/context.js"></sc' + 'ript>');
            })(this, "yandexContextSyncCallbacks");
        }
    </script>
{% endmacro %}


{% macro google970x90(googleads, isMobile) %}
    {% if googleads and isMobile %}
        <!-- C5 970*90 firm-all -->
        {#
        <script type="text/javascript">
            google_ad_client = "ca-pub-2395189762192594";
            if (window.innerWidth >= 800) {
                return;
                google_ad_slot = "5559809269";
                google_ad_width = 970;
                google_ad_height = 90;
            } else {
                google_ad_slot = "6723643662";
                google_ad_width = 300;
                google_ad_height = 250;
            }
            google_language = "ru";
            google_max_num_ads = 1;
        </script>
        <script type="text/javascript" src="//pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
        #}
        <script type="text/javascript">
            google_ad_client = "ca-pub-2395189762192594";
            google_ad_slot = "6723643662";
            google_ad_width = 300;
            google_ad_height = 250;
            google_language = "ru";
            google_max_num_ads = 1;
        </script>
        <script type="text/javascript" src="//pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
    {% endif %}
{% endmacro %}

{% macro google336x280(googleads) %}
    {% if googleads %}
        <!-- C5 336*280 firm-all -->
        <script type="text/javascript">
            google_ad_client = "ca-pub-2395189762192594";
            if (window.innerWidth >= 800) {
                google_ad_slot = "4083076065";
                google_ad_width = 336;
                google_ad_height = 280;
            } else {
                google_ad_slot = "6723643662";
                google_ad_width = 300;
                google_ad_height = 250;
            }
            google_language = "ru";
            google_max_num_ads = 2;
        </script>
        <script type="text/javascript" src="//pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
    {% endif %}
{% endmacro %}

{% macro google160x600(googleads) %}
    {% if googleads %}
        <!-- C5 160*600 cat-all -->
        <div class="google-160-600">
            <script type="text/javascript">
                google_ad_client = "ca-pub-2395189762192594";
                if (window.innerWidth >= 800) {
                    google_ad_slot = "8215127260";
                    google_ad_width = 160;
                    google_ad_height = 600;
                } else {
                    google_ad_slot = "6723643662";
                    google_ad_width = 300;
                    google_ad_height = 250;
                }
                google_min_num_ads = 4;
                google_max_num_ads = 5;
            </script>
            <script type="text/javascript" src="//pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
        </div>
    {% endif %}
{% endmacro %}

{% macro google580x400(googleads) %}
    {% if googleads %}
        <div class="google-580-400 google-newfluid1">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                 style="display:block;"
                 data-ad-format="fluid"
                 data-ad-layout-key="-e0+o+48-nj+pu"
                 data-ad-client="ca-pub-2395189762192594"
                 data-ad-slot="3940299806"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    {% endif %}
{% endmacro %}

{% macro google728x90(googleads) %}
    {% if googleads %}
        <div class="google_cat_all_728x90">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- C5 728x90 cat-all -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-2395189762192594"
                 data-ad-slot="7933022863"></ins>
            <script>
                console.log('tryin to render');
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    {% endif %}
{% endmacro %}

{% macro yandex30() %}
    <!-- Yandex.RTB R-A-158945-30 -->
    <div id="yandex_rtb_R-A-158945-30" class="yandex_ad"></div>
    <script type="text/javascript">
        (function(w, d, n, s, t) {
            w[n] = w[n] || [];
            w[n] = w[n] || [];
            if (window.innerWidth >= 700) {
                var yandex_block_id = "R-A-158945-30";
            } else {
                var yandex_block_id = "R-A-158945-35";
            }
            w[n].push(function() {
                Ya.Context.AdvManager.render({
                    blockId: yandex_block_id,
                    renderTo: "yandex_rtb_R-A-158945-30",
                    async: true
                });
            });
            t = d.getElementsByTagName("script")[0];
            s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//an.yandex.ru/system/context.js";
            s.async = true;
            t.parentNode.insertBefore(s, t);
        })(this, this.document, "yandexContextAsyncCallbacks");
    </script>
{% endmacro %}

{% macro yandex31() %}
    <!-- Yandex.RTB R-A-158945-31 -->
    <div id="yandex_rtb_R-A-158945-31" class="yandex_ad"></div>
    <script type="text/javascript">
        (function(w, d, n, s, t) {
            w[n] = w[n] || [];
            if (window.innerWidth >= 700) {
                var yandex_block_id = "R-A-158945-31";
            } else {
                var yandex_block_id = "R-A-158945-36";
            }
            w[n].push(function() {
                Ya.Context.AdvManager.render({
                    blockId: yandex_block_id,
                    renderTo: "yandex_rtb_R-A-158945-31",
                    async: true
                });
            });
            t = d.getElementsByTagName("script")[0];
            s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//an.yandex.ru/system/context.js";
            s.async = true;
            t.parentNode.insertBefore(s, t);
        })(this, this.document, "yandexContextAsyncCallbacks");
    </script>
{% endmacro %}

{% macro yandex32() %}
    <!-- Yandex.RTB R-A-158945-32 -->
    <div id="yandex_rtb_R-A-158945-32" class="yandex_ad"></div>
    <script type="text/javascript">
        (function(w, d, n, s, t) {
            w[n] = w[n] || [];
            if (window.innerWidth >= 700) {
                var yandex_block_id = "R-A-158945-32";
            } else {
                var yandex_block_id = "R-A-158945-37";
            }
            w[n].push(function() {
                Ya.Context.AdvManager.render({
                    blockId: yandex_block_id,
                    renderTo: "yandex_rtb_R-A-158945-32",
                    async: true
                });
            });
            t = d.getElementsByTagName("script")[0];
            s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//an.yandex.ru/system/context.js";
            s.async = true;
            t.parentNode.insertBefore(s, t);
        })(this, this.document, "yandexContextAsyncCallbacks");
    </script>
{% endmacro %}

{% macro yandex33() %}
    <!-- Yandex.RTB R-A-158945-33 -->
    <div id="yandex_rtb_R-A-158945-33" class="yandex_ad"></div>
    <script type="text/javascript">
        (function(w, d, n, s, t) {
            w[n] = w[n] || [];
            if (window.innerWidth >= 700) {
                var yandex_block_id = "R-A-158945-33";
            } else {
                var yandex_block_id = "R-A-158945-38";
            }
            w[n].push(function() {
                Ya.Context.AdvManager.render({
                    blockId: yandex_block_id,
                    renderTo: "yandex_rtb_R-A-158945-33",
                    async: true
                });
            });
            t = d.getElementsByTagName("script")[0];
            s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//an.yandex.ru/system/context.js";
            s.async = true;
            t.parentNode.insertBefore(s, t);
        })(this, this.document, "yandexContextAsyncCallbacks");
    </script>

{% endmacro %}

{% macro yandex34() %}
    <!-- Yandex.RTB R-A-158945-34 -->
    <div id="yandex_rtb_R-A-158945-34" class="yandex_ad"></div>
    <script type="text/javascript">
        (function(w, d, n, s, t) {
            w[n] = w[n] || [];
            if (window.innerWidth >= 700) {
                var yandex_block_id = "R-A-158945-34";
            } else {
                var yandex_block_id = "R-A-158945-39";
            }
            w[n].push(function() {
                Ya.Context.AdvManager.render({
                    blockId: yandex_block_id,
                    renderTo: "yandex_rtb_R-A-158945-34",
                    async: true
                });
            });
            t = d.getElementsByTagName("script")[0];
            s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//an.yandex.ru/system/context.js";
            s.async = true;
            t.parentNode.insertBefore(s, t);
        })(this, this.document, "yandexContextAsyncCallbacks");
    </script>
{% endmacro %}

{% macro yandex35() %}
    <!-- Yandex.RTB R-A-158945-35 -->
    <div id="yandex_rtb_R-A-158945-35" class="yandex_ad"></div>
    <script type="text/javascript">
        (function(w, d, n, s, t) {
            w[n] = w[n] || [];
            w[n].push(function() {
                Ya.Context.AdvManager.render({
                    blockId: "R-A-158945-35",
                    renderTo: "yandex_rtb_R-A-158945-35",
                    async: true
                });
            });
            t = d.getElementsByTagName("script")[0];
            s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//an.yandex.ru/system/context.js";
            s.async = true;
            t.parentNode.insertBefore(s, t);
        })(this, this.document, "yandexContextAsyncCallbacks");
    </script>
{% endmacro %}

{% macro yandex36() %}
    <!-- Yandex.RTB R-A-158945-36 -->
    <div id="yandex_rtb_R-A-158945-36" class="yandex_ad"></div>
    <script type="text/javascript">
        (function(w, d, n, s, t) {
            w[n] = w[n] || [];
            w[n].push(function() {
                Ya.Context.AdvManager.render({
                    blockId: "R-A-158945-36",
                    renderTo: "yandex_rtb_R-A-158945-36",
                    async: true
                });
            });
            t = d.getElementsByTagName("script")[0];
            s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//an.yandex.ru/system/context.js";
            s.async = true;
            t.parentNode.insertBefore(s, t);
        })(this, this.document, "yandexContextAsyncCallbacks");
    </script>
{% endmacro %}

{% macro yandex37() %}
    <!-- Yandex.RTB R-A-158945-37 -->
    <div id="yandex_rtb_R-A-158945-37" class="yandex_ad"></div>
    <script type="text/javascript">
        (function(w, d, n, s, t) {
            w[n] = w[n] || [];
            w[n].push(function() {
                Ya.Context.AdvManager.render({
                    blockId: "R-A-158945-37",
                    renderTo: "yandex_rtb_R-A-158945-37",
                    async: true
                });
            });
            t = d.getElementsByTagName("script")[0];
            s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//an.yandex.ru/system/context.js";
            s.async = true;
            t.parentNode.insertBefore(s, t);
        })(this, this.document, "yandexContextAsyncCallbacks");
    </script>
{% endmacro %}

{% macro yandex38() %}
    <!-- Yandex.RTB R-A-158945-38 -->
    <div id="yandex_rtb_R-A-158945-38" class="yandex_ad"></div>
    <script type="text/javascript">
        (function(w, d, n, s, t) {
            w[n] = w[n] || [];
            w[n].push(function() {
                Ya.Context.AdvManager.render({
                    blockId: "R-A-158945-38",
                    renderTo: "yandex_rtb_R-A-158945-38",
                    async: true
                });
            });
            t = d.getElementsByTagName("script")[0];
            s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//an.yandex.ru/system/context.js";
            s.async = true;
            t.parentNode.insertBefore(s, t);
        })(this, this.document, "yandexContextAsyncCallbacks");
    </script>
{% endmacro %}

{% macro yandex39() %}
    <!-- Yandex.RTB R-A-158945-39 -->
    <div id="yandex_rtb_R-A-158945-39" class="yandex_ad"></div>
    <script type="text/javascript">
        (function(w, d, n, s, t) {
            w[n] = w[n] || [];
            w[n].push(function() {
                Ya.Context.AdvManager.render({
                    blockId: "R-A-158945-39",
                    renderTo: "yandex_rtb_R-A-158945-39",
                    async: true
                });
            });
            t = d.getElementsByTagName("script")[0];
            s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//an.yandex.ru/system/context.js";
            s.async = true;
            t.parentNode.insertBefore(s, t);
        })(this, this.document, "yandexContextAsyncCallbacks");
    </script>
{% endmacro %}

{% macro yandexAdvGenerate2(pc, mob) %}
    <!-- {{ pc }} -->
    <div id="yandex_ad_{{ pc }}" class="yandex_ad"></div>
    <!--{{ mob }} -->
    <div id="yandex_ad_{{ mob }}" class="yandex_ad"></div>
    <script type="text/javascript">
        (function (w, d, n, s, t) {
            w[n] = w[n] || [];
            if (window.innerWidth >= 1024) {
                var yandex_block_id = "{{ pc }}";
                var yandex_div_render_id = "yandex_ad_{{ pc }}";
            } else {
                var yandex_block_id = "{{ mob }}";
                var yandex_div_render_id = "yandex_ad_{{ mob }}";
            }
            w[n].push(function () {
                Ya.Context.AdvManager.render({
                    blockId: yandex_block_id,
                    renderTo: yandex_div_render_id,
                    async: true
                });
            });
            t = d.getElementsByTagName("script")[0];
            s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//an.yandex.ru/system/context.js";
            s.async = true;
            t.parentNode.insertBefore(s, t);
        })(this, this.document, "yandexContextAsyncCallbacks");
    </script>
{% endmacro %}

{% macro yandex40() %}
    {% import _self as y %}
    {{ y.yandexAdvGenerate2('R-A-158945-40', 'R-A-158945-47') }}
{% endmacro %}

{% macro yandex41() %}   
    {% import _self as y %}
    {{ y.yandexAdvGenerate2('R-A-158945-41', 'R-A-158945-48') }}
{% endmacro %}

{% macro yandex42() %}   
    {% import _self as y %}
    {{ y.yandexAdvGenerate2('R-A-158945-42', 'R-A-158945-49') }}
{% endmacro %}

{% macro yandex43() %}   
    {% import _self as y %}
    {{ y.yandexAdvGenerate2('R-A-158945-43', 'R-A-158945-50') }}
{% endmacro %}

{% macro yandex44() %}   
    {% import _self as y %}
    {{ y.yandexAdvGenerate2('R-A-158945-44', 'R-A-158945-51') }}
{% endmacro %}

{% macro yandex45() %}   
    {% import _self as y %}
    {{ y.yandexAdvGenerate2('R-A-158945-45', 'R-A-158945-52') }}
{% endmacro %}

{% macro yandex46() %}   
    {% import _self as y %}
    {{ y.yandexAdvGenerate2('R-A-158945-46', 'R-A-158945-53') }}
{% endmacro %}

{% macro yandexAdvGenerate1(pc) %}
    <!-- {{ pc }} -->
    <div id="yandex_ad_{{ pc }}" class="yandex_ad"></div>
    <script type="text/javascript">
        (function (w, d, n, s, t) {
            w[n] = w[n] || [];
            var yandex_block_id = "{{ pc }}";
            var yandex_div_render_id = "yandex_ad_{{ pc }}";
            w[n].push(function () {
                Ya.Context.AdvManager.render({
                    blockId: yandex_block_id,
                    renderTo: yandex_div_render_id,
                    async: true
                });
            });
            t = d.getElementsByTagName("script")[0];
            s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//an.yandex.ru/system/context.js";
            s.async = true;
            t.parentNode.insertBefore(s, t);
        })(this, this.document, "yandexContextAsyncCallbacks");
    </script>
{% endmacro %}

{% macro yandex54() %}   
    {% import _self as y %}
    {{ y.yandexAdvGenerate1('R-A-158945-54') }}
{% endmacro %}

{% macro yandex55() %}
    {% import _self as y %}
    {{ y.yandexAdvGenerate1('R-A-158945-55') }}
{% endmacro %}